.square {
  background-image: url('../assets/images/bg.png');
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 120px;
  width: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  &:focus{
    outline: none;
    border: 5px solid rgb(250, 248, 248);
  }
}