body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  flex-direction: row;
  margin: 0 0 0 10%;
  width: 80%;
  height: 600px;

  &__ol {
    padding-left: 30px;
  }

  &__status {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  
  &__info {
    float: left;
    }
}
